<%- include('header', {title, active: 'aggiornamento'}); -%>
<div class="alert alert-success" role="alert">
    <h5>La serie è stata aggiornata con successo!<br><b><a href="/gestione">Clicca qui per tornare alla tua pagina personale</a></b></h5>
</div>
<%- include('footer'); -%>