<%- include('header', {title, active: 'failed login'}); -%>
<div class="alert alert-danger" role="alert">
    <h5>Non sei autorizzato ad accedere alla pagina<br>Per poter accedere a questa pagina devi essere un creatore<br><a href="/" class="alert-link">Clicca qui per tornare alla pagina home</a></h5>
</div>
<%- include('footer'); -%>