<!--Mi serve come pagina per dire all'utente che il logout è avvenuto con successo-->

<%- include('header', {title, active: 'Logout'}); -%>
<div class="alert alert-success" role="alert">
    <h5>Il logout è avvenuto con successo<br><b><a href="/">Clicca qui per tornare alla pagina home</a></b></h5>
</div>
<%- include('footer'); -%>