<%- include('header', {title, active: 'Modifica Completata'}); -%>
<div class="alert alert-success" role="alert">
    <h5>La modifica è avvenuta con successo!<br><b><a href="/gestione">Clicca qui per tornare alla pagina personale</a></b></h5>
</div>
<%- include('footer'); -%>