<%- include('header', {title, active: 'Successo'}); -%>
<div class="alert alert-success" role="alert">
    <h5>La registrazione è avvenuta con successo!<br><b><a href="/login">Clicca qui per fare il login</a></b></h5>
</div>
<%- include('footer'); -%>