<%- include('header', {title, active: 'rimozione'}); -%>
<div class="alert alert-success" role="alert">
    <h5>L'eliminazione è stata eliminata con successo!<br><b><a href="/gestione">Clicca qui per tornare alla tua pagina personale</a></b></h5>
</div>
<%- include('footer'); -%>